<div class="container mt-3">
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg|%>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end%>
  <% end%>
  <%= form_with url: edit_password_path(@user.id), method: :patch do |f| %>
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Change Password</h1>
        <div class="mb-3">
          <%= f.label :current_password, class: "form-label" %>
          <br>
          <%= f.password_field :current_password, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :new_password, class: "form-label" %>
          <br>
          <%= f.password_field :new_password, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :new_password_confirmation, "Confirm New Password", class: "form-label" %>
          <br>
          <%= f.password_field :new_password_confirmation, class: "form-control" %>
        </div>
        <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
      </div>
    </div>
</div>