<div class="container-fluid mt-3">
  <div class="card mb-3 border-0">
    <div class="card-body">
      <h1 class="card-title"><%= @post.title %></h1>
      <p class="card-text"><%= @post.body %></p>
      <p><small>Posted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.full_name %></small></p>
      <% if can?(:crud, @post) %>
        <%= link_to "Edit", edit_post_path(@post.id), class: "btn btn-outline-primary" %>
        <%= link_to "Delete", post_path(@post.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-primary" %>
      <% end %>
    </div>
  </div>
  <%= form_with(model: [@post, @comment]) do |f| %>
    <div class="card border-0">
      <div class="card-body">
        <h3 class="card-title">Comment</h3>
        <div class="mb-3">
          <%= f.text_area :body, cols: 50, rows: 3, placeholder: "What's on your mind?", class: "form-control" %>
        </div>
        <%= f.submit "Submit", class: "btn btn-outline-primary" %>
      </div>
    </div>
  <% end %>
  <div class="card border-0">
    <div class="card-body">
      <% @comments.each do |comment| %>
        <p class="card-text">
          <%= comment.body %>
          <br>
          <small>
            Commented <%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user.first_name %>
            <% if can?(:crud, comment) %>
              &#183;
              <%= link_to "Delete", [@post, comment], method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
          </small>
        </p>
      <% end %>
    </div>
  </div>
</div>